.wave-hover span {
  font-size: 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
  display: block;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  display: flex;
}

.wave-hover:hover span {
  top: 3px;
  transform: rotate(-15deg);
  opacity: 50%;
}

.wave-hover:hover span:nth-child(2) {
  top: -3px;
  transform: rotate(15deg);
}

.wave-hover:hover span:nth-child(3) {
  top: 3px;
  transform: rotate(-15deg);
}

.wave-hover:hover span:nth-child(4) {
  top: -3px;
  transform: rotate(15deg);
}

.wave-hover:hover span:nth-child(5) {
  top: 3px;
  transform: rotate(-15deg);
}

.wave-hover:hover span:nth-child(6) {
  top: -3px;
  transform: rotate(15deg);
}

.wave-hover:hover span:nth-child(7) {
  top: 3px;
  transform: rotate(-15deg);
}

.wave-hover:hover span:nth-child(8) {
  top: -3px;
  transform: rotate(15deg);
}

.wave-hover:hover span:nth-child(9) {
  top: 3px;
  transform: rotate(-15deg);
}

.wave-hover:hover span:nth-child(10) {
  top: -3px;
  transform: rotate(15deg);
}

.wave-hover:hover span:nth-child(11) {
  top: 3px;
  transform: rotate(-15deg);
}
